.Armature_newAnimation_00 {
  width: 218px;
  height: 534px;
  background-position: -0px -0px;
}
.Armature_newAnimation_01 {
  width: 218px;
  height: 534px;
  background-position: -218px -0px;
}
.Armature_newAnimation_02 {
  width: 218px;
  height: 534px;
  background-position: -436px -0px;
}
.Armature_newAnimation_04 {
  width: 218px;
  height: 534px;
  background-position: -872px -0px;
}
.Armature_newAnimation_03 {
  width: 218px;
  height: 534px;
  background-position: -654px -0px;
}
.Armature_newAnimation_05 {
  width: 218px;
  height: 534px;
  background-position: -1090px -0px;
}
.Armature_newAnimation_07 {
  width: 218px;
  height: 534px;
  background-position: -1526px -0px;
}
.Armature_newAnimation_06 {
  width: 218px;
  height: 534px;
  background-position: -1308px -0px;
}
.Armature_newAnimation_08 {
  width: 218px;
  height: 534px;
  background-position: -1744px -0px;
}
.Armature_newAnimation_09 {
  width: 218px;
  height: 534px;
  background-position: -0px -534px;
}
.Armature_newAnimation_10 {
  width: 218px;
  height: 534px;
  background-position: -218px -534px;
}
.Armature_newAnimation_12 {
  width: 218px;
  height: 534px;
  background-position: -654px -534px;
}
.Armature_newAnimation_11 {
  width: 218px;
  height: 534px;
  background-position: -436px -534px;
}
.Armature_newAnimation_13 {
  width: 218px;
  height: 534px;
  background-position: -872px -534px;
}
.Armature_newAnimation_14 {
  width: 218px;
  height: 534px;
  background-position: -1090px -534px;
}
.Armature_newAnimation_15 {
  width: 218px;
  height: 534px;
  background-position: -1308px -534px;
}
.Armature_newAnimation_16 {
  width: 218px;
  height: 534px;
  background-position: -1526px -534px;
}
.Armature_newAnimation_18 {
  width: 218px;
  height: 534px;
  background-position: -0px -1068px;
}
.Armature_newAnimation_17 {
  width: 218px;
  height: 534px;
  background-position: -1744px -534px;
}
.Armature_newAnimation_19 {
  width: 218px;
  height: 534px;
  background-position: -218px -1068px;
}
.Armature_newAnimation_20 {
  width: 218px;
  height: 534px;
  background-position: -436px -1068px;
}
.Armature_newAnimation_22 {
  width: 218px;
  height: 534px;
  background-position: -872px -1068px;
}
.Armature_newAnimation_21 {
  width: 218px;
  height: 534px;
  background-position: -654px -1068px;
}
.Armature_newAnimation_23 {
  width: 218px;
  height: 534px;
  background-position: -1090px -1068px;
}
.Armature_newAnimation_24 {
  width: 218px;
  height: 534px;
  background-position: -1308px -1068px;
}
.Armature_newAnimation_25 {
  width: 218px;
  height: 534px;
  background-position: -1526px -1068px;
}
.Armature_newAnimation_26 {
  width: 218px;
  height: 534px;
  background-position: -1744px -1068px;
}
.Armature_newAnimation_27 {
  width: 218px;
  height: 534px;
  background-position: -0px -1602px;
}
.Armature_newAnimation_29 {
  width: 218px;
  height: 534px;
  background-position: -436px -1602px;
}
.Armature_newAnimation_28 {
  width: 218px;
  height: 534px;
  background-position: -218px -1602px;
}
.Armature_newAnimation_30 {
  width: 218px;
  height: 534px;
  background-position: -654px -1602px;
}
.Armature_newAnimation_31 {
  width: 218px;
  height: 534px;
  background-position: -872px -1602px;
}
.Armature_newAnimation_33 {
  width: 218px;
  height: 534px;
  background-position: -1308px -1602px;
}
.Armature_newAnimation_32 {
  width: 218px;
  height: 534px;
  background-position: -1090px -1602px;
}
.Armature_newAnimation_34 {
  width: 218px;
  height: 534px;
  background-position: -1526px -1602px;
}
.Armature_newAnimation_35 {
  width: 218px;
  height: 534px;
  background-position: -1744px -1602px;
}
.Armature_newAnimation_36 {
  width: 218px;
  height: 534px;
  background-position: -0px -2136px;
}
.Armature_newAnimation_37 {
  width: 218px;
  height: 534px;
  background-position: -218px -2136px;
}
.Armature_newAnimation_39 {
  width: 218px;
  height: 534px;
  background-position: -654px -2136px;
}
.Armature_newAnimation_38 {
  width: 218px;
  height: 534px;
  background-position: -436px -2136px;
}
.Armature_newAnimation_40 {
  width: 218px;
  height: 534px;
  background-position: -872px -2136px;
}
.Armature_newAnimation_41 {
  width: 218px;
  height: 534px;
  background-position: -1090px -2136px;
}
